@import 'tailwindcss';
@import 'tw-animate-css';

/*@custom-variant dark (&:is(.dark *));*/

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-text-primary: rgb(30, 30, 30);
  --color-text-secondary: rgba(152, 152, 152, 1);
  --color-error: rgb(239, 68, 68);
  --color-success: rgb(34, 197, 94);
  --color-warning: rgba(250, 170, 21);
  --color-primary: rgb(104, 121, 255);
  --color-secondary: rgba(255, 223, 52);
  --color-blue-50: rgb(240, 242, 255);
  --color-blue-100: rgb(208, 213, 255);
  --color-blue-200: rgb(186, 193, 255);
  --color-blue-300: rgb(154, 165, 255);
  --color-blue-400: rgb(134, 148, 255);
  --color-blue-500: rgb(104, 121, 255);
  --color-blue-600: rgb(95, 110, 232);
  --color-blue-700: rgb(74, 86, 181);
  --color-blue-800: rgb(57, 67, 140);
  --color-blue-900: rgb(44, 51, 107);
  --color-grey-50: rgb(233, 233, 233);
  --color-grey-100: rgb(195, 195, 195);
  --color-grey-200: rgb(152, 152, 152);
  --color-grey-300: rgb(104, 104, 104);
  --color-grey-400: rgb(75, 75, 75);
  --color-grey-500: rgb(30, 30, 30);
  --color-grey-600: rgb(27, 27, 27);
  --color-grey-700: rgb(21, 21, 21);
  --color-grey-800: rgb(17, 17, 17);
  --color-grey-900: rgb(13, 13, 13);
  --text-h1: 2rem;
  --text-h1--line-height: 2.75rem;
  --text-h2: 1.75rem;
  --text-h2--line-height: 2.5rem;
  --text-h3: 1.5rem;
  --text-h3--line-height: 2.25rem;
  --text-h4: 1.25rem;
  --text-h4--line-height: 2rem;
  --text-xlarge: 1.125rem;
  --text-xlarge--line-height: 1.75rem;
  --text-large: 1rem;
  --text-large--line-height: 1.5rem;
  --text-medium: 0.875rem;
  --text-medium--line-height: 1.25rem;
  --text-small: 0.75rem;
  --text-small--line-height: 1rem;
  --text-xsmall: 0.625rem;
  --text-xsmall--line-height: 0.875rem;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: hsla(233, 100%, 70%, 1);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @variant 2xl {
    max-width: 1400px;
  }
}

@layer components {
  .link-underline:hover {
    @apply underline decoration-inherit decoration-2 underline-offset-4 transition-all;
  }
}
